<div class="fires">
    <div class="header">
        <h1>{{title}}</h1>
        <div id='map'></div>
    </div>
    <ul class="fires-list">
        {{#each fires}}
            <li>
                <h3><a href="{{this.link}}">{{this.title}}</a></h3>
                <div class="description">
                    {{this.description}}
                </div>
            </li>
        {{/each}}
    </ul>
</div>
<script>

    var fires = [
        {{#each fires}}
        { title: '{{this.title}}', lat: {{this.lat}}, long: {{this.long}} },
        {{/each}}
    ];

    function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 7,
            center: new google.maps.LatLng(39, -105.53),
            mapTypeId: 'roadmap'
        });

        fires.forEach(function(fire) {

            var infowindow = new google.maps.InfoWindow({
                content: fire.title
            });

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(fire.lat, fire.long),
                icon: '/images/fire-icon.svg',
                map: map
            });

            marker.addListener('click', function() {

                infowindow.open(map, marker);
            });
        });
    }

</script>
